.tui{
    background: rgb(14, 147, 187);
    font-size: 20px;
    text-align: center;
    margin: auto;
}
.ami{
    background-color: rgb(187, 87, 190);
    font-size: medium;
    text-align: center;
}
.div{
    background-color: aqua;
    height: 400px;
    width: 100%;
}
.red{
    background-color: chartreuse;
}

.div :hover{
    background-color: blueviolet;
    color: black;
}