.tui{
    background: rgb(14, 147, 187);
    font-size: 20px;
    text-align: center;
    margin: auto;
}
.ami{
    background-color: rgb(187, 87, 190);
    font-size: medium;
    text-align: center;
}